.wrapper .body .main_content{
    min-height: 100%;
    background-color: #fff;
}
.left_side_bar .name_header{
    position: relative;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 0;
    color: inherit;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.glyphicon-name-header{
    font-size: 11px;
    color: #999999;
    position: absolute;
    top: 50%;
    right: 0;
    transition: transform .2s ease-out;
    transform: translate(0, -50%) rotate(0deg);
}
.glyphicon-name-header-inactive{
    transform: translate(0, -50%) rotate(180deg);
}
@media (min-width: 990px){
    .main_content .left_side_bar{
        position: sticky;
        top:-200px;
    }
}
.main_content .left_side_bar{
    font-weight: 200 !important;
    background-color: #fff;
}
.option_items_inactive_el{
    display: none;
}
#filter_mobile_button{
    padding-right: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.main_content .content_items{
    min-height: 100%;
    /*border-left: 1px solid #e1e8ed;*/
    background-color: #fff;
}
#sorting_switcher{
    width: auto !important;
    display: inline-block;
    overflow: hidden;
    height: 55px;
}
#sorting_switcher li a{
    user-select: none;
    padding: 20px 10px 30px 0;
    color: #333;
    font-weight: bold;
    height: 60px;
    text-align: center;
    display: block;
}
#sorting_switcher li{
    display: table-cell;
    cursor: pointer;
}
#sorting{
    padding-top: 10px;
}
#sorting>span{
    display: inline-block;
    vertical-align: 100%;
}
#sorting .active a{
    border-bottom:5px solid #337AB7;
    height: 55px;
}
.pagination_el{
    border-bottom: 1px solid #e1e8ed;
    padding: 10px 0;
    margin-bottom: 10px;
}
.checkbox.active_el{
    background-color: #999999;/*rgba(33,33,33,0.5)*/
    border: 1px solid #fff;
    color: #fff;
    border-radius:5px 5px 5px 5px;
}
.option_items .checkbox{
    border: 1px solid transparent;
    /*padding: 5px;*/
    font-size: 12px;
    display: inline-block;
}
.block_items{
    position: relative;
    font-size: 0;
}
.block_items div{
    font-size: 14px;
}
.option_item{
    padding-left: 25px;
    /*display: inline-block;*/
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eeeeec;
}
.option_items{
    margin-top: 10px;
}
.option_image_out{
    background: url('../images/other/select_out.png') left center no-repeat;
    background-size: 18px 16px;
}
.option_image_in{
    background: url('../images/other/select_in.png') left center no-repeat;
    background-size: 18px 16px;
    color:#1DA1F2;
}
.null_number{
    color: #ccc;
}
.null_number:hover{
    color: #999;
}
#scrolling_wrapper{
    border-bottom: 1px solid #333;
    width: 1206px;
    height: 110px;
    background-color: #aaa;
    position: relative;
}