.wrapper .body .main_offer{
    background: #aaa;
    text-align: center;
    width: 1206px;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    margin:0 auto 10px;
    /*border-color: #E1E1E1;
    border-width: 0 0;
    border-style: solid;*/
}
.wrapper .body .main_content{
    margin-top: -20px;
    min-height: 400px;
    background-color: #fff;
}
.wrapper .body .main_content .item{
    min-height: 250px;
    text-align: center;
}
.item a{
    display: block;
    text-decoration: none;
    color: inherit;
}
/*.item a:hover{
    text-decoration: none;
}*/
.wrapper .body .main_content .switcher_type_tovar{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
}
.switcher_type_tovar::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: #dedede;
}
.switcher_type_tovar span{
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 20px 0 20px;
}
.item{
    width:24% !important;
}
.second_line_href{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 48%;
    height: 210px;/*
    margin: 0 1%;*/
    border: 1px solid #EFEEEA;
    border-radius: 7px;
    overflow: hidden;
    background: url("/static_media/images/special_offer/second_line/new3.jpg") no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.second_line_href a:hover{
    background-color: rgba(0,0,0,0.15);
}
.second_line_href a{
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition-duration: 300ms;
    transform: translate3d(0px, 0px, 0px);
}
.second_line_href_inner{
    /*font-style: italic;*/
    /*color: #fff;*/
    font-size: 20px;
    padding-left: 20px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}
/*.wrapper .body .main_content .switcher_type_tovar ul{
    display: inline-block;
}
.wrapper .body .main_content .switcher_type_tovar ul li{
    padding: 10px 40px;
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-right: -5px;
    font-weight: bold;
    background-color: #fff;
}*/
/*
.main_content #skidki_group{
    display: block;
}
.main_content #now_buy_group{
    display: none;
}
.main_content #new_offer_group{
    display: none;
}*/
