#order_korzina a,#order_korzina .img_item{
    float: left;
}
#order_korzina .description_item{
    float: right;
}
.wrapper .body .main_content{
    min-height: 400px;
    background: #fff;
}
.right_side_bar{
    min-height: 400px;
    border: 1px solid #e1e8ed;
}
#order_korzina li{
    overflow: hidden;
}
#order_korzina .order_delete_item{
    font-weight: bold;
    cursor: pointer;
}
#order_korzina .order_delete_item:hover{
    color: #337ab7;
}
#order_korzina .row{
    height: 150px;
}
#order_korzina .row div{
    height: 100%;
    text-align: center;
    padding: 0;
}
.description_el_order{
    margin-top: 20px;
}
#order_korzina .block_number_item{
    position: relative;
}
#order_korzina .item_in_order{
    border-bottom: 1px solid #e1e8ed;
}
#order_korzina .name_item{
    font-size: 16px;
    padding: 0 10px 10px 120px !important;
    text-align: left !important;
}
#order_korzina .block_name_item{
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px !important;
}
#summa_k_oplate, #summa_k_oplate_with_delivery span{
    font-size: 25px;
    line-height: 0.6;
}
#summa_k_oplate{
    margin-top: 40px;
}
#order_steps{
    margin-top: 10px;
}
#order_steps li{
    position: relative;
    display: inline-block;
    padding: 10px;
    /*border:1px solid #cc6633;*/
    background-color: #fff;
    color: #b8b8b8;
    border-radius: 10px 10px 2px 2px;
    cursor: pointer;
    margin-right: 30px;
}

#order_steps li::after{
    content: "\2192\A0";
    position: absolute;
    color: #b8b8b8;
    left: 100%;
    margin-left: .6em;
}
#order_steps li:last-child::after{
    content: "";
}
#order_steps li.active_step{
    color: inherit;
    font-weight: bold;
}

#delivery_order{
    display: none;
}

#payment_method{
    display: none;
}

#delivery_export_el{
    display: none;
}
#delivery_export_el, #independent_export_el{
    /*border: 1px solid #d9f5ff;*/
    padding: 10px;
    border-radius: 4px;
    background-color: #FEF7CF;
    margin-bottom: 10px;
}
#independent_export_el p,#delivery_export_el p{
    margin-top: 10px;
}
#delivery_order form .form-group{
    width: 50%;
    min-width: 290px;
}
.hide_field, .hide_field2{
    display: none;
}

#summa_k_oplate_right div{
    padding: 10px;
}
#korzina_blank{
    font-weight: 600;
    margin-top: 50px;
    font-size: 20px;
}
#checkout, #price_for_delivery, #summa_k_oplate_with_delivery, #summa_k_oplate2{
    display: none;
}

#price_for_delivery, #summa_k_oplate2{
    font-size: 16px;
}
#order_final_win{
    font-weight: bold;
    font-size: 14px;
    background-color: #FEF7CF;
}
#order_final_win p{
    padding-bottom: 5px;
}

#order_final_win span{
    font-size: 14px;
    font-weight: normal;
    color: #333;
}
.delivery_way{
    background: url('../images/other/select_out.png') left center no-repeat;
    background-size: 18px 16px;
    cursor: pointer;
    vertical-align: middle;
    padding: 10px 10px 10px  30px;
}
.delivery_way.active_delivery_way{
    /*background-color: #FAF6EB;*/
    background: url('../images/other/select_in.png') left center no-repeat;
    background-size: 18px 16px;
}
#delivery_way_block, #delivery_way_courier, #delivery_way_pvz{
    display: none;
}
#delivery_way_pvz{
    padding-top: 10px;
}
.deliv_top_line{
    border-top:1px solid #ccc;
}
#delivery_way_block_inner{
    /*border: 1px solid #ccc;*/
    padding: 10px;
    border-radius: 4px;
    background-color: #FEF7CF;
}
#delivery_way_block_inner hr{
    border-top:1px solid #ccc;
    display: none;
}
.size_item_el{
    color: #aaa !important;
    font-size: 12px !important;
}
.delivery_method span{
    display: inline-block;
    padding: 5px 5px 5px 22px;
    cursor: pointer;
}
.delivery_method_in{
    background: url('../images/other/select_in.png') left center no-repeat;
    background-size: 18px 16px;
}
.delivery_method_out{
    background: url('../images/other/select_out.png') left center no-repeat;
    background-size: 18px 16px;
}
.content_item{
    margin-bottom: 50px;
}
.step2_opt2,.step2_opt3{
    display: block;
}
#delivery_order label{
    font-weight: 600;
}
#next_step_payment{
    margin-top:15px;
}
#build_order{
    margin-top: 20px;
    display: none;
}
#delivery_order .help-block{
    display: none;
}
#summ_order_no_skidka{
    display: none;
    font-size: 18px;
    text-decoration: line-through;
    color: #999999 !important;
}