.name_result,#korzina_content .img_item,.item_in_korzina{
    float: left;
}
.contact_data,#result,#korzina_block,#korzina_content .description_item,#korzina_content .delete_item{
    float: right;
}
.wrapper .header .header_inform_row,.nav a,.nav .active a:hover{
    color: #fff !important;
}
.main_fon{
    background-color: #993333;
}
.header_navbar ul{
    height: 49px;
}

.header_navbar li{
    display: table-cell;
    width: 1%;
}
.header_navbar{
    border-top:1px solid #753333;
}

.header_navbar .active_elem a{
    color: #337AB7;
    border-bottom:5px solid #337AB7;
    height: 49px;
}
.header_navbar li a{
    font-weight: bold;
    height: 54px;
    color: #fff;
    text-align: center;
    display: block;
    border-bottom:5px solid transparent;
    transition: all .15s ease-in-out;
}
.header_navbar li a:hover{
    color: #337AB7;
    border-bottom:5px solid #337AB7;
    height: 49px;
}
ul{
    list-style: none;
    padding-left: 0;
    margin: 0 !important;
    width:100%
}
a{
    text-decoration: none !important;
}
.main_offer{
    position: relative;
}
.wrapper .header{
    min-height: 150px;
}
.wrapper .header .header_inform_row{
    background-color: #333;
    overflow: hidden;
}
.wrapper .header .header_main_area{
    /*background:url("../images/top_fon.png") no-repeat center white;*/
    height: 100px;
    text-align: center;
    background-color: #fff;
    padding-left: 100px;
}
.wrapper .body{
    min-height: 600px;
    background-color: #f5f8fa;
    position: relative;
}
.footer{
    height: 300px;
    background-color: #131a22;
}
.logo{
    display: inline-block;
    height: 100px;
    width: 300px;
    background:url("../images/logo.png") no-repeat center transparent;
}
.contact_data{
    color:#fff;
    font-weight: bold;
    padding: 20px;
}
.menu_name{
    padding: 0 !important;
}
.menu_name span{
    display: inline-block;
    line-height: 50px;
}
.obuv_logo{
    width: 50px;
    height: 50px;
    background:url("../images/obuv_logo_1.png") no-repeat center transparent;
    background-size: 100%;
}
.sumki_logo{
    width: 50px;
    height: 50px;
    background:url("../images/sumki_logo.png") no-repeat center transparent;
    background-size: 100%;
}
.other_logo{
    width: 50px;
    height: 50px;
    background:url("../images/other_logo.png") no-repeat center transparent;
    background-size: 100%;
}
.price_item{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
#result_block{
    display: none;
}
#korzina_block{
    margin-top: 30px;
    margin-right: 50px;
    height: 50px;
    width: 70px;
    background: transparent;
    border-radius: 10px 10px 0 0;
    padding: 7px 5px;
    position: relative;
    cursor: pointer;
}
#korzina_block:hover{
    background: #993333;
}
#korzina_block .korzina_inactive{
    background:url("../images/korzina_black.png") no-repeat center transparent;
    background-size: 100%;
}
#korzina_block .korzina_active{
    background:url("../images/korzina_white.png") no-repeat center transparent;
    background-size: 100%;
}
.korzina{
    vertical-align: middle;
    margin: auto;
    height: 32px;
    width: 30px;
}
#korzina_content{
    display: none;
    position: absolute;
    top:100%;
    right: 0;
    width:300px;
    background-color: white;
    z-index: 1;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 3px solid #993333;
    border-bottom: 7px solid #993333;
    padding: 10px 10px 0;
}
#korzina_content li{
    overflow: hidden;
    border-bottom: 2px solid #e1e8ed;
}
#korzina_content .delete_item{
    padding: 10px;
    font-weight: bold;
    width: 10%;
}
#korzina_content .delete_item:hover{
    color: #337ab7;
}
.btns_item .in_korzina{
    display: none;
}
#item_absent{
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.item_in_korzina{
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    width: 90%;
}
.btn-danger:hover{
    background-color: #fff !important;
    border-color: #cc612c !important;
    color: inherit;
}
.btn-danger{
    border-color: #cc6a3b !important;
    background-color: #cc6a3b !important;
    color: #fff;
}
.btn-danger:focus{
    background-color: #fff !important;
    border-color: #cc612c !important;
    color: inherit;
}
.btn-info:hover{
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
    color: #fff !important;
}
.btn-info:focus{
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
    color: #fff !important;
}
#scroll_main_offer{
    letter-spacing: -4px;
    position: absolute;
    left: 50%;
    bottom:10%;
    width: auto;
    margin-left: -160px;
}
#scroll_main_offer a.selected_slide{
    background-color: #5b5b5b;
}
#scroll_main_offer a:hover{
    background-color: #993333;
}
#scroll_main_offer a{
    letter-spacing: 0;
    display: inline-block;
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
    background: #ccc none repeat scroll 0 0;
    border-radius: 50%;
    margin: 0 0.8rem;
    font: 0px/0 a;
}
#scrolling_elements{
    overflow: hidden;
    height: 350px;
    position: relative;
}
#scrolling_elements ul{
    width: 1000%;
    letter-spacing: -4px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}
#scrolling_elements li{
    text-align: center;
    letter-spacing: 0;
    display: inline-block;
}
#scrolling_elements ul{
    transition: all 0.5s ease-in-out 0s;
}
#btn_left,#btn_right{
    position: absolute;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
#btn_left:hover,#btn_right:hover{
    font-size: 33px;
}
#btn_left{
    left:20%;
    top:35%;
}
#btn_right{
    right:20%;
    top:35%;
}
.main_content .content_items .item{
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    height: 340px;
    transition: all .15s ease-in-out;
}
.main_content .content_items .item:hover{
    border: 1px solid #d4dbe0;
    box-shadow: 0 10px 50px 0 rgba(30, 30, 30, 0.2);
}
.main_content .content_items .item_description{
    text-align: left;
    padding-left: 30px;
}
.item .name_item{
    font-weight: bold;
    color:  #cc6633;
}
.item .discount_item{
    text-decoration: line-through;
    color: #999999;
}
.item .saving_item{
    color: #cc6633;
    font-weight: bold;
}
.main_content .content_items .item .hide_element{
    visibility: hidden;
}
.item a{
    display: block;
    text-decoration: none;
    color: inherit;
}
.item button{
    margin: 15px 0;
}

#more_information_name{
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}
#more_information_price{
    font-weight: bold;
    padding: 10px;
    font-size: 35px;/*
    color: #cc6633;*/
}
#more_information_sizes .size_item{
    display: inline-block;
    padding: 0 5px;
}
#add_or_next_window{
    padding: 30px;
    display: none;
    position: fixed;
    width: 400px;
    top:20%;
    left: 50%;
    margin-left: -200px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #ccc;
}
#fon_wait{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 90;
}
#add_or_next_window h4{
    margin-bottom: 20px;
}
#more_information_window{
    display: none;
    position: fixed;
    top:0;
    left: 15%;
    width: 960px;
    height: 500px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #ccc;
}
#more_information_close{
    text-align: right;
    padding: 10px;
    cursor: pointer;
}
#more_information_close:hover{
    color: #337AB7;
}
#more_information_image{
    float: left;
    width:450px;
    height: 450px;
}
#more_information_description{
    margin-left: 460px;
}
.more_information{
    position: absolute;
    bottom: 0;
    left: 15%;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
}
.more_information:hover{
    color: #337AB7;
}
.name_item_in_korz{
    float: left;
    max-width:70%;
    font-weight: bold;
    text-align: left;
}
.number_in_korz{
    float: right;
}