<html>
<head>
    {% load staticfiles %}
    <meta http-equiv=content-type content="text/html;charset=UTF-8">
    <meta name="yandex-verification" content="c4e1c73a90f5cf45" />
    <meta name="google-site-verification" content="aHjoCujI3H0KcBepRoF8gicXWFAOvgYYEXoZiyLldS4" />
    <meta name='wmail-verification' content='4fd93e3acfb2756aae8d063cf783c553' />
    <meta name="keywords" content="женская обувь, женские сумки, низкие цены, кроссовки, туфли, кеды, макасины">
    {% block meta_new %}{% endblock %}
    <title>Интернет-магазин женских сумок и обуви. Купить женскую обувь, женские сумки в онлайн магазине Vittora.ru</title>
    <link rel="shortcut icon" href="{%  static 'sumki_online/images/other/favicon2.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    {% block new_css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.Magnify.js' %}"></script>
    {% comment %}<script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.jfMagnify.js' %}"></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block new_js %}{% endblock %}
</head>
<body {% if show_more_window %}class="stop-scrolling"{% endif %}>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45907743 = new Ya.Metrika({
                        id:45907743,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45907743" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <div id="fon_wait" {% if show_more_window %}style="display: block"{% endif %}>
        {% if show_more_window %}{% include 'more_inform_window.html' %}{% endif %}
        <div id="special_skidka">
            <div id="special_skidka_close"><span class="glyphicon glyphicon-remove" title="закрыть"></span></div>
            <div id="special_skidka_image">

            </div>
            <h3 style="text-align: left; margin-bottom: 10px">Оформите заказ в течение 20 минут и получите скидку <span style="color: #2EB973; font-weight: 400;font-size: 28px">10%!</span></h3>
            <div style="color: #aaa; text-align: left; margin-bottom: 40px">Скидка будет автоматически применена в вашей корзине пока не истекло указанное время.</div>
            <button class="btn btn-danger" type="button">Получить скидку</button>
        </div>
    </div>
    <div id="time_end_skidka">
        <div>Окончание действия скидки 10% через:</div>
        <div>
            <span id="end_skidka_minute"></span>
            <span>:</span>
            <span id="end_skidka_sec"></span>
        </div>
    </div>

    <div id="fon_wait_2">
        <div class="wait_load_doc">{% comment %}cssload-box-loading{% endcomment %}
        </div>
    </div>
    <div class="wrapper container-fluid main_fon">
        <div class="header row">
            <div class="header_inform_row">
                <div style="width: 1206px; height: 100%; margin: auto">
                    <div class="col-md-2" style="text-align: left; height: 100%;">
                        <a class="logo" href="/"></a>
                    </div>
                    <div class="col-md-4" style="height:100%; line-height: 80px;text-align: center">
                        <span style="font-size: 16px">БОЛЬШОЙ ВЫБОР СУМОК <span style="font-weight: 100">В VITTORA</span></span>
                    </div>
                    <div class="col-md-6" id="top_image_sumki" style="height:100%; line-height: 80px">

                    </div>
                    {% comment %}<div class="col-md-6" style="height:100%; line-height: 80px">
                        <span id="number_fon_top">8 (910)-877-49-69</span>
                    </div>{% endcomment %}
                </div>
            </div>
            <div class="header_main_area">
                <div id="header_main_area_inner">
                    <ul id="menu_ul">
                        <li {% if category.alias == 'obuv' %}class="active_elem"{% endif %}>
                            <a href="{% url 'sumki_online:catalog' 'obuv' %}" class="menu_name">
                                <span id="obuv_icon" class="name_menu_span">Женская обувь</span>
                            </a>
                        </li>
                        <li {% if category.alias == 'sumki' %}class="active_elem"{% endif %}>
                            <a href="{% url 'sumki_online:catalog' 'sumki' %}" class="menu_name">
                                <span id="sumka_icon" class="name_menu_span">Сумки женские</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span id="home_icon" style="opacity: .65;">Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="/delivery">
                                <span id="delivery_icon" style="opacity: .65;">Доставка</span>
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                <span id="about_icon" style="opacity: .65;">О нас</span>
                            </a>
                        </li>
                    </ul>
                    <div id="welcome"><span><span>Welcome</span> to us</span></div>
                    <div id="korzina_block">
                        <a class="korzina korzina_inactive" href='/order'></a>
                        <a id="korzina_desc" href='/order'>
                            <div id="korzina_desc_inner">
                                <span id="name_korz">Корзина</span><br><span id="korzina_desc_inner_price">0 руб.</span>
                            </div>
                        </a>
                    </div>
                    {% comment %}<a id="korzina_desc" href='/order'>
                        <div id="korzina_desc_inner">
                            <span id="name_korz">Корзина</span><br><span id="korzina_desc_inner_price">0 руб.</span>
                        </div>
                    </a>{% endcomment %}
                </div>
            </div>
        </div>
        <div class="body row" {% comment %}onmousedown="return false"{% endcomment %}>
            {% block main_block %}{% endblock %}
        </div>
        <div class="footer row">
            <div class="contact_data col-md-8 col-md-offset-1">
                <div style="color: #fff">
                    <span class="icon_fotter" id="adress_work">
                        <span class="title_footer">АДРЕС КОМПАНИИ:</span><br>
                        Нижний Новгород, ул.Карла Маркса, д.7
                    </span><br>
                    <span class="icon_fotter" id="time_work">Режим работы: с 10:00 до 20:00 ежедневно</span>
                </div>
            </div>
            <div class="contact_data col-md-2">
                <span class="icon_fotter" id="phone_work">
                    <span class="title_footer">ТЕЛЕФОН</span><br>
                    <span style="color: #fff">8(910)-877-49-69</span>
                </span>
            </div>
            <div id="links_to_partners" class="col-md-12">
                <a href="https://ru.icons8.com">Набор иконок от Icons8</a>
            </div>
        </div>
    </div>
</body>
</html>