<html>
<head>
    {% load staticfiles %}
    {% load filters %}
    <meta http-equiv=content-type content="text/html;charset=UTF-8">
    <meta name="yandex-verification" content="c4e1c73a90f5cf45" />
    <meta name="google-site-verification" content="aHjoCujI3H0KcBepRoF8gicXWFAOvgYYEXoZiyLldS4" />
    <meta name='wmail-verification' content='4fd93e3acfb2756aae8d063cf783c553' />
    <meta name="keywords" content="женская обувь, женские сумки, низкие цены, кроссовки, туфли, кеды, макасины">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    {% block meta_new %}{% endblock %}
    {% if title_item %}
        <title>{{ options_elem.type.name }} {{ options_elem.brend.name }} купить за {{ item.price|price_format }} руб в интернет-магазине Vittora.ru</title>
    {% elif category %}
        <title>{{ category.name }} в интернет-магазине Vittora.ru от 599 руб. Купить по низким ценам.</title>
    {% else %}
        <title>Интернет-магазин женских сумок и обуви. Купить женскую обувь, женские сумки в интернет-магазине Vittora.ru</title>
    {% endif %}
    <link rel="shortcut icon" href="{%  static 'sumki_online/images/other/favicon2.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    {% block new_css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.Magnify.js' %}"></script>
    {% comment %}<script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.jfMagnify.js' %}"></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block new_js %}{% endblock %}
</head>
<body {% if show_more_window %}class="stop-scrolling"{% endif %}>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45907743 = new Ya.Metrika({
                        id:45907743,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45907743" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <div id="fon_wait" {% if show_more_window %}style="display: block"{% endif %}>
        {% if show_more_window %}{% include 'more_inform_window.html' %}{% endif %}
        <div id="special_skidka">
            <div id="special_skidka_close"><span class="glyphicon glyphicon-remove" title="закрыть"></span></div>
            <div id="special_skidka_image">

            </div>
            <h3 class="special_skidka_header">Оформите заказ в течение 20 минут и получите скидку <span>10%!</span></h3>
            <div class="special_skidka_text">Скидка будет автоматически применена в вашей корзине пока не истекло указанное время.</div>
            <button class="btn btn-danger" type="button">Получить скидку</button>
        </div>
    </div>
    <div id="time_end_skidka">
        <div>Окончание действия скидки 10% через:</div>
        <div>
            <span id="end_skidka_minute"></span>
            <span>:</span>
            <span id="end_skidka_sec"></span>
        </div>
    </div>

    <div id="fon_wait_2">
        <div class="wait_load_doc">{% comment %}cssload-box-loading{% endcomment %}
        </div>
    </div>
    <div class="wrapper main_fon">
        <div class="header">
            <div class="header_first_row hidden-sm hidden-xs">
                <div class="container-fluid" style="max-width: 1246px">
                    <div class="row">
                        <div class="header_contact_inform col-md-4">
                            <span class="number_fon_top">Тел. 8 (915)-936-40-54</span>
                            <span class="time_work_top">Консультация ежедневно: 09:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid header_second_row hidden-sm hidden-xs">
                <div style="height: 100%;" class="row">
                    <div class="logo_block col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-3">
                        <a class="logo" href="/"></a>
                    </div>
                    <div class="advert_first_block hidden-xs hidden-sm col-md-3">
                        <div>БОЛЬШОЙ ВЫБОР СУМОК{% comment %} <span>В VITTORA</span>{% endcomment %}</div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-6 top_image_sumki">

                    </div>
                </div>
            </div>
            <div class="header_third_row">
                <div class="container-fluid header_main_area" style="max-width: 1246px">
                    <div id="header_main_area_inner" style="max-width: 1246px" class="row">
                        <ul id="menu_ul" class="hidden-xs hidden-sm col-md-6">
                            <li {% if category.alias == 'obuv' %}class="active_elem"{% endif %}>
                                <a href="{% url 'sumki_online:catalog' 'obuv' %}" class="menu_name">
                                    <span id="obuv_icon" class="name_menu_span">ЖЕНСКАЯ ОБУВЬ</span>
                                </a>
                            </li>
                            <li {% if category.alias == 'sumki' %}class="active_elem"{% endif %}>
                                <a href="{% url 'sumki_online:catalog' 'sumki' %}" class="menu_name">
                                    <span id="sumka_icon" class="name_menu_span">СУМКИ ЖЕНСКИЕ</span>
                                </a>
                            </li>
                            <li class="menu_li_second">
                                <a href="/">
                                    <span id="home_icon">ГЛАВНАЯ</span>
                                </a>
                            </li>
                            <li class="menu_li_second">
                                <a href="/delivery">
                                    <span id="delivery_icon">ДОСТАВКА</span>
                                </a>
                            </li>
                            <li class="menu_li_second">
                                <a href="/about">
                                    <span id="about_icon">О НАС</span>
                                </a>
                            </li>
                        </ul>
                        {% comment %}<div id="welcome" class="hidden-sm hidden-xs col-md-3"><span><span>Welcome</span> to us</span></div>{% endcomment %}
                        <div id="korzina_block" class="col-md-3">
                            <a class="korzina korzina_inactive" href='/order'></a>
                            <a class="hidden-sm hidden-xs" id="korzina_desc" href='/order'>
                                <div id="korzina_desc_inner">
                                    <span id="name_korz">Корзина</span><br><span id="korzina_desc_inner_price">0 руб.</span>
                                </div>
                            </a>
                        </div>
                        <div id="but_list_menu_mob" class="visible-xs visible-sm">
                            <span class="glyphicon glyphicon-list"></span>
                        </div>
                        <div class="logo_block col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 hidden-md hidden-lg">
                            <a class="logo_mobile" href="/"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}{% if advert_second %}
                <div class="header_fourth_row">
                    <div class="advert_second_block">
                        <span>БЕСПЛАТНАЯ ДОСТАВКА <span class="hidden-xs hidden-sm">ВО ВСЕ ГОРОДА РОССИИ</span></span>
                    </div>
                </div>
            {% endif %}{% endcomment %}
            {% if breadcrumbs %}
            <div class="header_five_row">
                {% comment %}<div class="container-fluid" style="max-width: 1246px">
                    <span class="breadcrumb_element" style="padding:0 20px; text-decoration: underline">Главная</span>
                    <span>/</span>
                    <span style="padding:0 20px; text-decoration: underline">Женские сумки</span>
                </div>{% endcomment %}
                {{ breadcrumbs }}
            </div>
            {% endif %}
        </div>
        <aside class="left_side_bar_menu">
            <div style="text-align: center; margin-top: 10px">
                <a class="logo_mini" href="/"></a>
            </div>
            <ul>
                <li class="sumka_icon_left_menu icons_left_menu"><a href="{% url 'sumki_online:catalog' 'sumki' %}">ЖЕНСКИЕ СУМКИ</a><span class="glyphicon glyphicon-chevron-right glyphicon-name-header-left"></span></li>
                <li class="obuv_icon_left_menu icons_left_menu"><a href="{% url 'sumki_online:catalog' 'obuv' %}">ЖЕНСКАЯ ОБУВЬ</a><span class="glyphicon glyphicon-chevron-right glyphicon-name-header-left"></span></li>
                <li class="home_icon_left_menu icons_left_menu"><a href="/">ГЛАВНАЯ</a><span class="glyphicon glyphicon-chevron-right glyphicon-name-header-left"></span></li>
                <li class="delivery_icon_left_menu icons_left_menu"><a href="/delivery">ДОСТАВКА</a><span class="glyphicon glyphicon-chevron-right glyphicon-name-header-left"></span></li>
                <li class="about_icon_left_menu icons_left_menu"><a href="/about">О НАС</a><span class="glyphicon glyphicon-chevron-right glyphicon-name-header-left"></span></li>
            </ul>
        </aside>
        <div class="fon_wait_5"></div>
        <div class="body" {% comment %}onmousedown="return false"{% endcomment %}>
            {% block main_block %}{% endblock %}
        </div>
        <div class="dop_about_shop">
            <h1>Интернет-магазин женских сумок и обуви</h1>
            <div style="padding-top: 15px; font-weight: 300">
                <h2>Широкий ассортимент</h2>
                <p>
                    Vittora.ru - интернет магазин, на страницах которого представлены лучшие коллекции женских сумок и обуви по привлекательным ценам. Мы уверено, что наши коллекции заинтересуют каждого покупателя. Любая покупка на нашем сайте происходит в несколько кликов.
                </p>
                <h2>Удобная доставка</h2>
                <p>
                    Мы осуществляем бесплатную доставку по всей России транспортной компанией BoxBerry и Почтой России. Если товар не подошёл покупатель может вернуть товар в течении 14 дней.
                </p>
                <h2>Выгодные покупки</h2>
                <p>
                    В интернет магазине Vittora.ru постоянно проходят распродажи и различные акции, что позволит приобрести понравившийся товар по более привлекательной цене.
                </p>
            </div>
        </div>
        <div class="footer">
            <div class="container-fluid" style="max-width: 1246px;">
                <div class="row">
                    <div class="contact_data col-md-10">
                        <div>
                    <span class="icon_fotter" id="adress_work">
                        <span class="title_footer">АДРЕС КОМПАНИИ:</span><br>
                        Нижний Новгород, ул.Карла Маркса, д.7
                    </span><br>
                            <span class="icon_fotter" id="time_work">Режим работы: с 10:00 до 20:00 ежедневно</span>
                        </div>
                    </div>
                    <div class="contact_data col-md-2">
                <span class="icon_fotter" id="phone_work">
                    <span class="title_footer">ТЕЛЕФОН</span><br>
                    <span>8 (915)-936-40-54</span>
                </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 links_to_partners">
                        <a href="https://ru.icons8.com">Набор иконок от Icons8</a>
                    </div>
                    <div class="col-md-6 links_to_partners">
                        <div>Icons made by
                            <a href="https://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a>
                            from
                            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            is licensed by
                            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>