{% extends 'main.html' %}
{% block menu_about_tab %}menu_inner_active{% endblock %}
{% block main_block %}
    <div class="main_content container" style="width: 1206px; margin: auto">
        <h3 id="header_category">О нас</h3>
        <p style="font-weight: normal; font-size: 16px">
            В нашем интернет-магазине представлены коллекции обуви и сумок различных брендов по демократичным ценам.
            <br>Любая покупка на сайте происходит в несколько кликов.<br>
            Кроме того, на сайте регулярно проводятся распродажи товаров.
        </p>
        <p style="font-weight: normal; font-size: 16px">По всем вопросам просьба обращаться по телефону 8(910)-877-49-69.</p>
        <p style="font-weight: bold; font-size: 16px">УДАЧНЫХ ПОКУПОК )</p>
    </div>
{% endblock %}