{% extends 'main.html' %}

{% load filters %}
{% load staticfiles %}

{% block meta_new %}
    <meta name="description" content="Онлайн магазин предлагает широкий ассортимент обуви (ботинки, кроссовки, туфли, кеды, мокасины, слипоны, ботильоны, босоножки, сандалии, сабо) и сумок по выгодным ценам. Ежемесячные акции и скидки.">
{% endblock %}

{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/catalog.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/catalog.js' %}"></script>
    <script type="text/javascript" src="{% static 'sumki_online/js/home.js' %}"></script>
{% endblock %}

{% block main_block %}
    <div class="main_content container" style="width: 1246px; margin: auto">
        <div class="row" style="border-radius: 5px; overflow: hidden; margin-top: 10px; margin-bottom: 10px">
            <div class="col-md-12" style="display: none">
                <div class="row" id="scrolling_wrapper">
                    <div id="scrolling_elements" style="height: 110px">
                        <ul>
                            {% for elem in main_offer_mini %}
                                <li>
                                    <a href="{{ elem.link }}">
                                        <img src="{% static 'images/mini_special_offer/' %}{{ elem.image }}" width="1206" height="110">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="scroll_main_offer">
                        {% for i in main_offer_mini %}
                            {% if forloop.first %}
                                <a class="select_slide selected_slide" data-index="{{ forloop.counter }}"></a>
                            {% else %}
                                <a class="select_slide" data-index="{{ forloop.counter }}"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% comment %}<span id="btn_left" class="glyphicon glyphicon-chevron-left"></span>
                    <span id="btn_right" class="glyphicon glyphicon-chevron-right"></span>{% endcomment %}
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 left_side_bar"  onmousedown="return false" onselectstart="return false">
                {% if options %}
                {% for option in options %}
                    <div id="{{ option.name }}_{{ category.alias }}" class="option_items">
                        <div class="name_header">{% comment %}<span class="glyphicon glyphicon-list"></span>{% endcomment %} {{ option.label }}</div>
                        {% for key2, value2 in option.all.items %}
                            {% if value2.selected %}
                                <div class="option_item option_image_in">
                                    <span class="option_item_image"></span><span class="option_item_value option_active" id="{{ option.name }}_{{ category.alias }}_{{ key2 }}_option" data-option-id="{{ key2 }}">{% if value2.name == "" %}Прочие{% else %}{{ value2.name }}{% endif %}</span>
                                    <span style="vertical-align: top; font-size: 8px; display: inline-block; width: 15px">({{ value2.number }})</span>
                                </div>
                            {% else %}
                                <div class="option_item option_image_out">
                                    {% if 'number' in value2 and value2.number != 0 %}
                                        <span class="option_item_image"></span><span class="option_item_value option_not_active" id="{{ option.name }}_{{ category.alias }}_{{ key2 }}_option" data-option-id="{{ key2 }}">{% if value2.name == "" %}Прочие{% else %}{{ value2.name }}{% endif %}</span>
                                        <span style="vertical-align: top; font-size: 8px; display: inline-block; width: 15px">({{ value2.number }})</span>
                                    {% else %}
                                        <span class="option_item_image"></span><span class="option_item_value option_not_active null_number" id="{{ option.name }}_{{ category.alias }}_{{ key2 }}_option" data-option-id="{{ key2 }}">{% if value2.name == "" %}Прочие{% else %}{{ value2.name }}{% endif %}</span>
                                        <span style="vertical-align: top; font-size: 8px; display: inline-block; width: 15px"></span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-md-10 content_items">

                <div id="sorting" style="padding-top: 20px">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="select_sort_type">Сортировать:</label>
                            <div class="col-md-3">
                                <select id="select_sort_type" class="form-control">
                                    <option {% if sort == 'popular_sorting_desc' %} selected {% endif %} class="desc popular_sorting_desc" value="popular_sorting">по популярности</option>
                                    <option {% if sort == 'price_sorting_desc' %} selected {% endif %} class="desc price_sorting_desc" value="price_sorting">по убыванию цены</option>
                                    <option {% if sort == 'price_sorting_asc' %} selected {% endif %} class="asc price_sorting_asc" value="price_sorting">по возрастанию цены</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    {% comment %}<ul id="sorting_switcher">
                        <li class="el_sorting_switcher active desc popular_sorting">
                            <a>
                                <span>убыванию популярности</span>
                            </a>
                        </li>
                        <li class="el_sorting_switcher inactive desc price_sorting">
                            <a>
                                <span>росту цены</span>
                            </a>
                        </li>
                    </ul>{% endcomment %}
                </div>
                <div class="pagination_el">
                    <div class="header_pag_el">Страница:</div>
                    <ul class="pagination">{% comment %}
                        {% if items.has_previous %}
                            <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% endif %}{% endcomment %}
                        {% for number_page in items.paginator.page_range %}
                            {% if number_page == items.number %}
                                <li class="active"><a href="#">{{ number_page }}</a></li>
                            {% else %}
                                <li><a class="href_active" href="{% url 'sumki_online:catalog' category.alias %}?page={{ number_page }}">{{ number_page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% comment %}{% if items.has_next %}
                            <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% endif %}{% endcomment %}
                    </ul>
                </div>
                <div class="row block_items">
                    <span class="hidden" id="category_cat">{{ category.alias }}</span>
                    {% comment %}{% include 'more_inform_window.html' %}{% endcomment %}
                    {% include 'items.html' %}
                </div>
                <div class="pagination_el">
                    <div class="header_pag_el">Страница:</div>
                    <ul class="pagination">
                        {% comment %}{% if items.has_previous %}
                            <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% endif %}{% endcomment %}
                        {% for number_page in items.paginator.page_range %}
                            {% if number_page == items.number %}
                                <li class="active"><a href="#">{{ number_page }}</a></li>
                            {% else %}
                                <li><a class="href_active" href="{% url 'sumki_online:catalog' category.alias %}?page={{ number_page }}">{{ number_page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% comment %}{% if items.has_next %}
                            <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% endif %}{% endcomment %}
                    </ul>
                </div>

            </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}
