{% extends 'main.html' %}
{% block menu_delivery_tab %}menu_inner_active{% endblock %}
{% block main_block %}
    <div class="main_content container" style="width: 1206px; margin: auto">
        <h3>Доставка:</h3>
        <p style="font-weight: normal; font-size: 14px">
            Мы доставляем товар транспортной компанией Boxberry в большинство населённых пунктов России.
            <br>Срок доставки от 3 дня, в зависимости от региона получателя.
        </p>
        <p style="font-weight: normal; font-size: 14px">
            Самовывоз осуществляется по адресу г.Нижний Новгород, ул. Карда Маркса д.7
        </p>
        <p style="font-weight: 100; font-size: 14px">По всем вопросам просьба обращаться по телефону 8(910)-877-49-69.</p>
        <p style="font-weight: bold; font-size: 14px">УДАЧНЫХ ПОКУПОК )</p>
    </div>
{% endblock %}