{% extends 'main.html' %}

{% load filters %}
{% load staticfiles %}

{% block meta_new %}
    <meta name="description" content="Специальные предложения, хиты продаж и новые поступления обуви (ботинки, кроссовки, туфли, кеды, мокасины, слипоны, ботильоны, босоножки, сандалии, сабо) и сумок.">
{% endblock %}

{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/home.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/home.js' %}"></script>
{% endblock %}

{% block main_menu_tab %}menu_inner_active{% endblock %}

{% block main_block %}
    <div class="main_content container-fluid" style="max-width: 1246px; margin: auto">
        <div class="row hidden-sm hidden-xs" style="margin: 20px 0 70px">
            <div class="col-md-8">
                <div class="special_offer_element special_offer_first" style="background: url('{% static "images/special_offer/" %}spring.jpg') left top no-repeat;">
                    <a href="/"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="special_offer_element special_offer_second_block">
                    <div class="special_offer_second_inner" style="background: url('{% static "images/special_offer/" %}spring_second.jpg') left top no-repeat;">
                        <a href="/catalog/sumki/?options=1&type_sumki=8"></a>
                    </div>
                    <div class="special_offer_second_inner" style="background: url('{% static "images/special_offer/" %}spring_third_var2.jpg') left top no-repeat;">
                        <a href="/catalog/sumki/?options=1&type_sumki=5"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-md hidden-lg">
            <div>
                <div class="special_offer_element special_offer_first_mobile" style="background: url('{% static "images/special_offer/" %}spring.jpg') left top no-repeat; background-size: contain">
                    <a href="/"></a>
                </div>
            </div>
        </div>
        <div class="menu_center_mobile hidden-lg hidden-md">
            <ul>
                <li class="classic_bags"><a href="/catalog/sumki/?options=1&type_sumki=5">КЛАССИЧЕСКИЕ СУМКИ</a></li>
                <li class="soft_bags"><a href="/catalog/sumki/?options=1&type_sumki=3">МЯГКИЕ СУМКИ</a></li>
                <li class="backpack_bags"><a href="/catalog/sumki/?options=1&type_sumki=2">РЮКЗАКИ</a></li>
                <li class="valise_bags"><a href="/catalog/sumki/?options=1&type_sumki=6">САКВОЯЖИ</a></li>
                <li class="clutch_bags"><a href="/catalog/sumki/?options=1&type_sumki=8">КЛАТЧИ</a></li>
                <li class="summer_bags"><a href="/catalog/sumki/?options=1&type_sumki=7">ЛЕТНИЕ СУМКИ</a></li>
                <li class="woman_shoes"><a href="/catalog/obuv/">ЖЕНСКАЯ ОБУВЬ</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content_items">
                    <div class="switcher_type_tovar row hidden-xs hidden-sm">
                        <span>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</span>
                    </div>
                    <div id="skidki_group" class="hidden-xs hidden-sm">
                        <div class="row block_items">
                            {% for item in items_disc %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-sm" style="margin: 50px 0;">
                        <div class="col-md-6">
                            <div class="second_line_href" style="background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                               <a href="/catalog/obuv/?special_obuv=disc&options=1">
                                   <div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">СПЕЦПРЕДЛОЖЕНИЯ<br> НА ОБУВЬ</span></div>
                               </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="second_line_href" style=";background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                                <a href="/catalog/sumki/?special_sumki=disc&options=1">
                                    <div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">СПЕЦПРЕДЛОЖЕНИЯ<br> НА СУМКИ</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="switcher_type_tovar row">
                        <span>ХИТЫ ПРОДАЖ</span>
                    </div>
                    <div id="now_buy_group" class="hidden-xs hidden-sm">
                        <div class="row block_items">
                            {% for item in items_hits %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md row" style="overflow: hidden">
                        <div class="block_items_mobile">
                            {% for item in items_hits %}
                                {% include 'items_hor.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-sm" style="margin: 50px 0;">
                        <div class="col-md-6">
                            <div class="second_line_href" style="background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                                <a href="/catalog/obuv/?special_obuv=hit&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ТОП-10 <span style="font-weight: bold">САМОЙ ПОКУПАЕМОЙ<br> ОБУВИ</span></div></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="second_line_href" style=";background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                                <a href="/catalog/sumki/?special_sumki=hit&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ТОП-10 <span style="font-weight: bold">САМЫХ ПОКУПАЕМЫХ<br> СУМОК</span></div></a>
                            </div>
                        </div>
                    </div>
                    <div class="switcher_type_tovar row">
                        <span>НОВЫЕ ПОСТУПЛЕНИЯ</span>
                    </div>
                    <div id="new_offer_group" class="hidden-xs hidden-sm">
                        <div class="row block_items">
                            {% for item in items_new_offer %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md row" style="overflow: hidden">
                        <div class="block_items_mobile">
                            {% for item in items_new_offer %}
                                {% include 'items_hor.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-sm" style="margin: 50px 0;">
                        <div class="col-md-6">
                            <div class="second_line_href" style="background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                                <a href="/catalog/obuv/?special_obuv=new&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">НОВЫЕ ПОСТУПЛЕНИЯ<br> ОБУВИ</span></div></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="second_line_href" style=";background: url('{% static "images/special_offer/" %}spec_offer_fon.jpg') left top no-repeat; background-size: contain">
                                <a href="/catalog/sumki/?special_sumki=new&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">НОВЫЕ ПОСТУПЛЕНИЯ<br> СУМОК</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}