{% extends 'main.html' %}

{% load filters %}
{% load staticfiles %}

{% block meta_new %}
    <meta name="description" content="Специальные предложения, хиты продаж и новые поступления обуви (ботинки, кроссовки, туфли, кеды, мокасины, слипоны, ботильоны, босоножки, сандалии, сабо) и сумок.">
{% endblock %}

{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/home.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/home.js' %}"></script>
{% endblock %}

{% block main_block %}
    <div class="main_offer">
        <div id="scrolling_elements">
            <ul>
                {% for elem in main_offer %}
                    <li style="background: {{ elem.color }}">
                        <a href="{{ elem.link }}">
                            <img src="{% static 'images/special_offer/' %}{{ elem.image }}" width="738" height="350">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="scroll_main_offer">
            {% for i in main_offer %}
                {% if forloop.first %}
                    <a class="select_slide selected_slide" data-index="{{ forloop.counter }}"></a>
                {% else %}
                    <a class="select_slide" data-index="{{ forloop.counter }}"></a>
                {% endif %}
            {% endfor %}
        </div>
        <span id="btn_left" class="glyphicon glyphicon-chevron-left"></span>
        <span id="btn_right" class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="main_content container" style="width: 1206px; margin: auto">
        <div class="row">
            <div class="col-md-12">
                <div class="content_items" style="margin-top: 20px">
                    <div class="switcher_type_tovar row">
                        <span>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</span>
                    </div>
                    <div id="skidki_group">
                        <div class="row block_items">
                            {% comment %}{% include 'more_inform_window.html' %}{% endcomment %}
                            {% for item in items_disc %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div style="text-align: center; margin: 50px 0;">
                        <div class="second_line_href" style="margin-right: 2%">
                           <a href="/catalog/obuv/?special_obuv=disc&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">СПЕЦПРЕДЛОЖЕНИЯ<br> НА ОБУВЬ</span></div></a>
                        </div>
                        <div class="second_line_href">
                            <a href="/catalog/sumki/?special_sumki=disc&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">СПЕЦПРЕДЛОЖЕНИЯ<br> НА СУМКИ</span></div></a>
                        </div>
                    </div>
                    <div class="switcher_type_tovar row">
                        <span>ХИТЫ ПРОДАЖ</span>
                    </div>
                    <div id="now_buy_group">
                        <div class="row block_items">
                            {% for item in items_hits %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div style="text-align: center; margin: 50px 0;">
                        <div class="second_line_href" style="margin-right: 2%">
                            <a href="/catalog/obuv/?special_obuv=hit&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ТОП-10 <span style="font-weight: bold">САМОЙ ПОКУПАЕМОЙ<br> ОБУВИ</span></div></a>
                        </div>
                        <div class="second_line_href">
                            <a href="/catalog/sumki/?special_sumki=hit&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ТОП-10 <span style="font-weight: bold">САМЫХ ПОКУПАЕМЫХ<br> СУМОК</span></div></a>
                        </div>
                    </div>
                    <div class="switcher_type_tovar row">
                        <span>НОВЫЕ ПОСТУПЛЕНИЯ</span>
                    </div>
                    <div id="new_offer_group">
                        <div class="row block_items">
                            {% for item in items_new_offer %}
                                {% include 'item_elem.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div style="text-align: center; margin: 50px 0;">
                        <div class="second_line_href" style="margin-right: 2%">
                            <a href="/catalog/obuv/?special_obuv=new&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">НОВЫЕ ПОСТУПЛЕНИЯ<br> ОБУВИ</span></div></a>
                        </div>
                        <div class="second_line_href">
                            <a href="/catalog/sumki/?special_sumki=new&options=1"><div class="second_line_href_inner">ПОСМОТРЕТЬ ВСЕ <span style="font-weight: bold">НОВЫЕ ПОСТУПЛЕНИЯ<br> СУМОК</span></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}