{% extends 'main.html' %}

{% load filters %}
{% load staticfiles %}

{% block meta_new %}
    <meta name="description" content="Специальные предложения, хиты продаж и новые поступления обуви (ботинки, кроссовки, туфли, кеды, мокасины, слипоны, ботильоны, босоножки, сандалии, сабо) и сумок.">
{% endblock %}

{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/home.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/home.js' %}"></script>
{% endblock %}

{% block main_block %}
    <div class="main_offer">
        <div id="scrolling_elements">
            <ul>
                {% for elem in main_offer %}
                    <li style="background: {{ elem.color }}">
                        <a href="{{ elem.link }}">
                            <img src="{% static 'images/special_offer/' %}{{ elem.image }}" width="738" height="350">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="scroll_main_offer">
            {% for i in main_offer %}
                {% if forloop.first %}
                    <a class="select_slide selected_slide" data-index="{{ forloop.counter }}"></a>
                {% else %}
                    <a class="select_slide" data-index="{{ forloop.counter }}"></a>
                {% endif %}
            {% endfor %}
        </div>
        <span id="btn_left" class="glyphicon glyphicon-chevron-left"></span>
        <span id="btn_right" class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="main_content container-fluid" style="width: 93%; margin: auto">
    <div class="row">
    <div class="col-md-12">
        <div class="content_items" style="margin-top: 20px">
            <div class="switcher_type_tovar row">
                <span>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</span>
            </div>
            <div id="skidki_group">
                <div class="row block_items">
                    {% include 'more_inform_window.html' %}
                    {% for item in items_disc %}
                        {% include 'item_elem.html' %}
                    {% endfor %}
                </div>
            </div>
            <div style="text-align: center; margin: 50px 0;">
                <div style="display: inline-block; width: 32%; border: 1px solid #ccc; border-radius: 7px; overflow: hidden">
                    <img width="100%" src="/static_media/images/special_offer/second_line/first.jpg">
                </div>
                <div style="display: inline-block; width: 32%;margin: 0 1%;border: 1px solid #ccc; border-radius: 7px; overflow: hidden">
                    <img width="100%" src="/static_media/images/special_offer/second_line/second.jpg">
                </div>
                <div style="display: inline-block; width: 32%;border: 1px solid #ccc; border-radius: 7px; overflow: hidden">
                    <img width="100%" src="/static_media/images/special_offer/second_line/second.jpg">
                </div>
            </div>
            <div class="switcher_type_tovar row">
                <span>ХИТЫ ПРОДАЖ</span>
            </div>
            <div id="now_buy_group">
                <div class="row block_items">
                    {% for item in items_hits %}
                        {% include 'item_elem.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="switcher_type_tovar row">
                <span>НОВЫЕ ПОСТУПЛЕНИЯ</span>
            </div>
            <div id="new_offer_group">
                <div class="row block_items">
                    {% for item in items_new_offer %}
                        {% include 'item_elem.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}