{% extends 'main.html' %}
{% load staticfiles %}
{% load filters %}

{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/item.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/item.js' %}"></script>
    <script type="text/javascript">
        function img_loaded (elem) {
            $('.wait_load_image').hide();
            $(elem).parent().addClass('loaded');
            flag1=true;
        }
    </script>
{% endblock %}

{% block main_block %}
    <div class="main_content container" style="max-width: 1246px; margin: auto">
        <div class="row">
            <div class="col-md-9 content_item">
                <div class="item magnify hidden-sm hidden-xs">
                    <div class="views_tovar"><span class="icon_more_inner"></span><span style="margin-left: 10px"><span style="color: #333; font-weight: 600">{{ number_views_week|smart_ending:ending_views }}</span><br> купили этот товар <br> на неделе</span></div>
                    <div class="wait_load_image"></div>
                    <span id="btn_left" class="glyphicon glyphicon-chevron-left"></span>
                    <span id="btn_right" class="glyphicon glyphicon-chevron-right"></span>
                    <div id="main_image_el">
                        <div class="zoom_image">
                            <img src="" width="440">
                        </div>
                        <img onload="img_loaded(this)" class="small" width="350" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ item.id }}.jpg">
                    </div>
                </div>
                <div id="other_image_item" class="hidden-sm hidden-xs">
                    <ul id="other_image">
                        {% if images %}
                            <li data-index-im="0" class="active_other_image other_image_item">
                                <div class="ag_copying"></div>
                                <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ item.id }}.jpg" height="120">
                            </li>
                            {% if images|length != 0 %}
                                {% for imag in images %}
                                    <li data-index-im="{{ forloop.counter }}" class="other_image_item">
                                        <div class="ag_copying"></div>
                                        <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ item.id }}v{{ forloop.counter }}.jpg" height="120">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul style="overflow: scroll; white-space: nowrap">
                        {% if images %}
                            <li style="display: inline-block">
                                <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ item.id }}.jpg" height="312">
                            </li>
                            {% if images|length != 0 %}
                                {% for imag in images %}
                                    <li style="display: inline-block">
                                        <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ item.id }}v{{ forloop.counter }}.jpg" width="312">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                {% if item.description|length > 10 %}
                    <div style="margin: 30px 0 30px 0; max-width: 750px" class="row">
                        <div class="col-md-12">
                            <span style="display: inline-block;font-size: 22px;border-bottom: 2px solid #333;padding: 0 30px 10px 0;">Описание товара</span>
                            <div style="margin-top: 20px; font-size: 15px; line-height: 24px">{{ item.description }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 right_side_bar">
                <div id="name_item">{{ options_elem.type.name }} / {{ options_elem.brend.name }}</div>
                <div id="more_information_price">
                    {% if item.discount > 0 %}
                        {{ item.price|discount:item.discount|price_format }} руб <span style="text-decoration: line-through; color: #999; font-size: 20px">{{  item.price|price_format}} руб.</span>
                    {% else %}
                        {{ item.price|price_format }} руб
                    {% endif %}
                </div>
                <div id="more_information_sizes" {% if category.alias != 'obuv' %} style="display: none"{% endif %}>
                    <form>
                        <label for="size_obuv_available" style="font-size: 18px; font-weight: normal">Выберите размер:</label>
                        <select id="size_obuv_available" class="form-control" style="width: auto !important; display: inline-block">
                            {% if store_elem %}
                                {% for store_pos in store_elem %}
                                    <option>{{ store_pos.size.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>
                </div>
                <div id="btns_item_el">
                    <button type="button" class="btn btn-primary add_in_korzina"><span class="glyphicon glyphicon-plus"></span> Добавить в корзину</button>
                </div>

                <div style="text-align: left">
                    <div style="margin-top: 70px; font-size: 22px;border-bottom: 2px solid #333;padding-bottom: 10px;text-align: center">Характеристики</div>
                    <div id="description_item_full" style="margin-top: 30px">
                        {% if options_elem_render %}{{ options_elem_render }}{% endif %}
                    </div>
                </div>

                <div style="margin-bottom: 30px; text-align: left">
                    <div style="margin-top: 30px; font-size: 22px;border-bottom: 2px solid #333;padding-bottom: 10px; text-align: center">Преимущества Vittora</div>
                    <div class="adv_elem">
                        <div class="icon_del_adv"></div>
                        <div class="title_adv">Бесплатная доставка по всей России</div>
                        <div class="descrip_adv">Мы доставляем товар бесплатно в любую точку России</div>
                    </div>
                    <div class="adv_elem">
                        <div class="icon_safe_adv"></div>
                        <div class="title_adv">Безопасность</div>
                        <div class="descrip_adv">Безопасность платежей гарантируется использованием SSL протокола.
                            Данные вашей банковской карты надежно защищены при оплате онлайн.
                        </div>
                    </div>
                    <div class="adv_elem">
                        <div class="icon_diver_adv"></div>
                        <div class="title_adv">Разнообразие ассортимента</div>
                        <div class="descrip_adv">В нашем интернет-магазине представлены товары на любой вкус</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}