{% load staticfiles %}

{% load filters %}
<div style="width: 40% !important; white-space: normal" class="item" id="{{ item.id }}" data-item-category="{{ item.category_alias }}">
    <a href="{% url 'sumki_online:item' item.category_alias item.id %}">
        <div class="wrapper_image">
            <div class="ag_copying"></div>
            <img data-itemimg-change="0" class="image_item" alt="{{ item.type }} {{ item.brend }}" src="{% static 'sumki_online/images/' %}{{ item.category_alias }}/200_on_200/{{ item.id }}.jpg" style="width: 100%">
        </div>

        {% if item.discount > 0 %}
            <div style="text-align: center">
                <div class="item_description price_item" data-item-price="{{ item.price|discount:item.discount }}">{{ item.price|discount:item.discount|price_format }} руб</div>
                <div class="item_description discount_item">{{ item.price|price_format }} руб</div>
            </div>
            <div class="item_description saving_item"><span class="skidka_icons"></span><span> скидка -{{ item.discount }}{% comment %}{{ item.price|saving:item.discount|price_format }}{% endcomment %}%</span></div>
        {% else %}
            <div style="text-align: center">
                <div class="item_description price_item" data-item-price="{{ item.price }}">{{ item.price|price_format }} руб</div>
            </div>
        {% endif %}
        <div class="item_desc ription name_item" data-item-name="{{ item.type }}">{{ item.type }} / <span style="color: #999999">{{ item.brend }}</span></div>
        {% if item.category_alias == 'obuv' %}
            <div class="item_description hide_element">Размеры:
                {% for size in item.size %}
                    <span class="size_item">{{ size }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% if item.hit_sales or item.new_item %}
            <div class="status_item">
                {% if item.hit_sales %}
                    <div class="hit_sales_el">Хит</div>
                {% endif %}
                {% if item.new_item %}
                    <div class="new_item_el">Новинка</div>
                {% endif %}
            </div>
        {% endif %}
    </a>
    <div class="icon_more_block hide_element more_information hidden-sm hidden-xs">Быстрый просмотр</div>
</div>