<div id="more_information_window" data-item-element="">
    <div id="more_information_close"><span class="glyphicon glyphicon-remove" title="закрыть"></span></div>
    <div id="more_information_image">
        <img src="" width="440px" height="440px">
        <ul id="other_image">
            <li class="other_image_item"></li>
            <li class="other_image_item"></li>
            <li class="other_image_item"></li>
        </ul>
    </div>
    <div id="more_information_description">
        <div id="more_information_name"></div>
        <div id="more_information_price"></div>
        <div id="more_information_sizes" style="display: none">
            <form>
                <label for="size_obuv_available">Выберите размер</label>
                <select id="size_obuv_available" class="form-control" style="width: auto !important; margin-top: 20px">

                </select>
            </form>
        </div>
        <span style="display: inline-block; margin-bottom: 5px; font-weight: 700;">Описание товара</span>
        <p id="description_item_full">

        </p>
        <div class="btns_item">
            <button type="button" class="btn btn-primary add_in_korzina"><span class="glyphicon glyphicon-plus"></span> Добавить в корзину</button>
            <button type="button" class="btn btn-info in_korzina"><span class="glyphicon glyphicon-ok"></span> В корзине</button>
        </div>

    </div>
</div>
<div id="add_or_next_window" align="center">
    <h4 align="center"><span class="glyphicon glyphicon-ok"></span> Ваш товар добавлен в корзину</h4>
    <button type="button" class="btn btn-primary" id="next_buy"><span class="glyphicon glyphicon-share"></span> Продолжить покупки</button>
    <button type="button" class="btn btn-primary" id="next_order"><span class=" glyphicon glyphicon-check"></span> Оформить заказ</button>
</div>