{% load staticfiles %}
{% load filters %}
<div id="more_information_window" data-item-element="{{ elem.id }}" data-item-name="{{ options_elem.type.name }}"
     data-item-price="{% if elem.discount > 0 %}{{ elem.price|discount:elem.discount}}{% else %}{{ elem.price }}{% endif %}"
     data-item-image="{% if images %}{% static 'sumki_online/images/' %}{{ category.alias }}/64_on_64/{{ elem.id }}.jpg{% endif %}"
     data-item-category="{{ category.alias }}">
    <div id="more_information_close"><span class="glyphicon glyphicon-remove" title="закрыть"></span></div>
    <div id="more_information_image" class="magnify">
        <div class="zoom_image">
            <img src="" width="440">
        </div>
        <div style="overflow: hidden; width: 440px; height: 675px; position: relative">
            <div class="large"></div>
            <ul id="main_image_el">
            {% if images %}
                <li data-index-ib="0">
                    {% comment %}<div class="large"></div>{% endcomment %}
                    {% comment %}<div class="magnify_glass"></div>{% endcomment %}
                    <img alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" class="small" src="{% static 'sumki_online/images/' %}{{ category.alias }}/400_on_400/{{ elem.id }}.jpg" width="440">
                </li>
                {% if images|length != 0 %}
                    {% for imag in images %}
                        <li data-index-ib="{{ forloop.counter }}">
                            <img alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias }}/400_on_400/{{ elem.id }}v{{ forloop.counter }}.jpg" width="440">
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
    <div id="more_information_description">
        <div id="more_information_name">{{ options_elem.type.name }} / {{ options_elem.brend.name }}</div>
        <div id="more_information_price">
            {% if elem.discount > 0 %}
                {{ elem.price|discount:elem.discount|price_format }}
            {% else %}
                {{ elem.price|price_format }}
            {% endif %} руб.</div>
        <div style="height: 80px; margin-bottom: 14px">
            <div id="more_information_sizes" {% if category.alias != 'obuv' %} style="display: none"{% endif %}>
                <form>
                    <label for="size_obuv_available">Выберите размер</label>
                    <select id="size_obuv_available" class="form-control" style="width: auto !important; margin-top: 20px">
                        {% if store_elem %}
                            {% for store_pos in store_elem %}
                                <option>{{ store_pos.size.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </form>
            </div>
        </div>
        <div class="btns_item">
            <button type="button" class="btn btn-primary add_in_korzina"><span class="glyphicon glyphicon-plus"></span> Добавить в корзину</button>
            <button type="button" class="btn btn-info in_korzina"><span class="glyphicon glyphicon-ok"></span> В корзине</button>
        </div>
        <span style="display: inline-block; margin-top: 15px; font-weight: 700;">Описание товара</span>
        <div id="description_item_full">
            {% if options_elem_render %}{{ options_elem_render }}{% endif %}
        </div>
    </div>
    <div>
        <ul id="other_image">
            <li id="other_image_item_window"></li>
            {% if images %}
                <li data-index-im="0" class="active_other_image other_image_item">
                    <img alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ elem.id }}.jpg" height="120">
                </li>
                {% if images|length != 0 %}
                    {% for imag in images %}
                        <li data-index-im="{{ forloop.counter }}" class="active_other_image other_image_item">
                            <img alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ elem.id }}v{{ forloop.counter }}.jpg" height="120">
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
<div id="add_or_next_window" align="center">
    <h4 align="center"><span class="glyphicon glyphicon-ok"></span> Ваш товар добавлен в корзину</h4>
    <button type="button" class="btn" id="next_buy"><span class="glyphicon glyphicon-share"></span> Продолжить покупки</button>
    <button type="button" class="btn btn-danger" id="next_order"><span class=" glyphicon glyphicon-check"></span> Оформить заказ</button>
</div>