{% load staticfiles %}
{% load filters %}
<div id="more_information_window" data-item-element="{{ elem.id }}" data-item-name="{{ options_elem.type.name }}"
     data-item-price="{% if elem.discount > 0 %}{{ elem.price|discount:elem.discount}}{% else %}{{ elem.price }}{% endif %}"
     data-item-image="{% if images %}{% static 'sumki_online/images/' %}{{ category.alias }}/64_on_64/{{ elem.id }}.jpg{% endif %}"
     data-item-category="{{ category.alias }}">
    <script type="text/javascript">
        function img_loaded (elem) {
            console.log('load');
            $('.wait_load_image').hide();
            $(elem).parent().addClass('loaded');
            flag1=true;
        }
    </script>
    <div id="more_information_header_top">
        <div id="more_information_name">{{ options_elem.type.name }} / {{ options_elem.brend.name }}</div>
        <div id="more_information_price">
            {% if elem.discount > 0 %}
                {{ elem.price|discount:elem.discount|price_format }} руб <span style="text-decoration: line-through; color: #999; font-size: 20px">{{  elem.price|price_format}} руб.</span>
            {% else %}
                {{ elem.price|price_format }} руб
            {% endif %}
        </div>
        <div id="more_information_sizes" {% if category.alias != 'obuv' %} style="display: none"{% endif %}>
            <form>
                <label for="size_obuv_available" style="font-size: 18px; font-weight: normal">Выберите размер:</label>
                <select id="size_obuv_available" class="form-control" style="width: auto !important; display: inline-block">
                    {% if store_elem %}
                        {% for store_pos in store_elem %}
                            <option>{{ store_pos.size.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
        </div>
        <div class="btns_item">
            <button type="button" class="btn btn-primary add_in_korzina"><span class="glyphicon glyphicon-plus"></span> Добавить в корзину</button>
            <button type="button" class="btn btn-info in_korzina"><span class="glyphicon glyphicon-ok"></span> В корзине</button>
        </div>
        <div style="float: right; padding-right: 70px">
            <a href="/{{ category.alias }}/item/{{ elem.id }}">Подробнее</a>
        </div>
        <div id="more_information_close"><span class="glyphicon glyphicon-remove" title="закрыть"></span></div>
    </div>
    <div id="more_information_other_image_block">
        <ul id="other_image">
            {% if images %}
                <li data-index-im="0" class="active_other_image other_image_item">
                    <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ elem.id }}.jpg" height="120">
                </li>
                {% if images|length != 0 %}
                    {% for imag in images %}
                        <li data-index-im="{{ forloop.counter }}" class="other_image_item">
                            <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" src="{% static 'sumki_online/images/' %}{{ category.alias  }}/400_on_400/{{ elem.id }}v{{ forloop.counter }}.jpg" height="120">
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div id="more_information_image_block">
        <span id="icon_glass_magn"></span>
        <span id="btn_left" class="glyphicon glyphicon-chevron-left"></span>
        <span id="btn_right" class="glyphicon glyphicon-chevron-right"></span>
        <div class="views_tovar"><span class="icon_more_inner"></span><span style="margin-left: 10px"><span style="color: #333; font-weight: 600">{{ number_views_week|smart_ending:ending_views }}</span><br> купили этот товар <br> на неделе</span></div>
        <div id="more_information_image" class="magnify">
            <div class="wait_load_image"></div>
            <div class="zoom_image">
                <img src="" width="440">
            </div>
            <div>
                <div class="large"></div>
                <div id="main_image_el">
                    <img onload="img_loaded(this)" alt="{{ options_elem.type.name }} {{ options_elem.brend.name }}" class="small" src="{% static 'sumki_online/images/' %}{{ category.alias }}/400_on_400/{{ elem.id }}.jpg" width="350">
                </div>
            </div>
        </div>
    </div>
    <hr style="margin: 0 !important;">
    <div style="margin: 0 0 30px 80px" class="row">
        <div class="col-md-6" style="text-align: center">
            <div style="display: inline-block; text-align: left; vertical-align: top">
                <div style="margin-top: 30px; text-align: center; font-size: 22px;border-bottom: 2px solid #333;padding-bottom: 10px;">Описание товара</div>
                <div id="description_item_full" style="margin-top: 30px">
                    {% if options_elem_render %}{{ options_elem_render }}{% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6" style="text-align: center">
            <div style="display: inline-block; text-align: left">
                <div style="margin-top: 30px; text-align: center; font-size: 22px;border-bottom: 2px solid #333;padding-bottom: 10px;">Преимущества Vittora</div>
                <div class="adv_elem">
                    <div class="icon_del_adv"></div>
                    <div class="title_adv">Бесплатная доставка по всей России</div>
                    <div class="descrip_adv">Мы доставляем товар бесплатно в любую точку России</div>
                </div>
                <div class="adv_elem">
                    <div class="icon_safe_adv"></div>
                    <div class="title_adv">Безопасность</div>
                    <div class="descrip_adv">Безопасность платежей гарантируется использованием SSL протокола.
                        Данные вашей банковской карты надежно защищены при оплате онлайн.
                    </div>
                </div>
                <div class="adv_elem">
                    <div class="icon_diver_adv"></div>
                    <div class="title_adv">Разнообразие ассортимента</div>
                    <div class="descrip_adv">В нашем интернет-магазине представлены товары на любой вкус</div>
                </div>
        </div>
        </div>
    </div>
</div>
<div id="add_or_next_window" align="center">
    <h4 align="center"><span class="glyphicon glyphicon-ok"></span> Ваш товар добавлен в корзину</h4>
    <button type="button" class="btn" id="next_buy"><span class="glyphicon glyphicon-share"></span> Продолжить покупки</button>
    <button type="button" class="btn btn-danger" id="next_order"><span class=" glyphicon glyphicon-check"></span> Оформить заказ</button>
</div>