{% extends 'main.html' %}
{% load filters %}
{% load staticfiles %}
{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/order.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-formhelpers-phone.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
    <script type="text/javascript">
        var citys_dost = {{ exam|safe }};
    </script>
{% endblock %}

{% block main_block %}
    <div class="main_content container" style="max-width: 1206px; margin: auto">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 content_item">
                <div>
                    <div id="delivery_order">
                        <h3 style="border-bottom: 1px solid #333; padding-bottom: 10px">Оформление заказа</h3>
                        <div style="margin-top: 20px">
                            <div id="delivery_export_el" class="step2_opt2">
                                <p>Мы доставляем товар Почтой Росии и транспортной компанией Boxberry в большинство населённых пунктов России</p>
                                <p>Срок доставки от 2 дня, в зависимости от региона получателя.</p>
                                <p>Введите данные получателя:</p>
                            </div>
                            <form role="form">
                                {% comment %}{% csrf_token %}{% endcomment %}
                                {{ form.non_field_errors }}
                                <div class="form-group step2_opt2">
                                    {{ form.city.errors }}
                                    <label for="id_city">Населённый пункт</label>
                                    <input class="form-control" type="search" id="id_city" placeholder="Введите город доставки" />
                                    <span class='help-block'>Это поле необходимо заполнить</span>
                                </div>
                                <div class="form-group" id="delivery_way_block">
                                    <h5 style="font-weight: 600">Способ доставки:</h5>
                                    <div id="delivery_way_block_inner">
                                        <div class="delivery_way active_delivery_way" id="delivery_pochta_ru" data-type-way="pochta">Доставка Почтой России</div>
                                        <div class="delivery_way deliv_top_line" id="delivery_way_courier" data-type-way="courier">Курьерская доставка до квартиры (дома)</div>
                                        <div id="delivery_way_pvz" class="deliv_top_line">
                                            <div>Доставка до пункта самовывоза в Вашем городе:</div>
                                            <div class="delivery_way" data-type-way="pvz"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group step2_opt3">
                                    {{ form.adress.errors }}
                                    <label for="id_adress">Улица, дом, кв.</label>
                                    {{ form.adress }}
                                    <span class='help-block'>Это поле необходимо заполнить</span>
                                </div>
                                <div class="form-group">
                                    {{ form.name.errors }}
                                    <label for="id_name">Имя, Отчество</label>
                                    {{ form.name }}
                                    <span class='help-block'>Это поле необходимо заполнить</span>
                                </div>
                                <div class="form-group">
                                    {{ form.surname.errors }}
                                    <label for="id_surname">Фамилия</label>
                                    {{ form.surname }}
                                    <span class='help-block'>Это поле необходимо заполнить</span>
                                </div>
                                <div class="form-group">
                                    {{ form.fon_number.errors }}
                                    <label for="id_fon_number">Телефон для связи</label>
                                    {{ form.fon_number }}
                                    <span class='help-block'>Это поле необходимо заполнить</span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="build_order">
                        <div style="font-size: 24px; font-weight: 500">Итого к оплате: <span id="total_summ_order">0</span> руб. <span id="summ_order_no_skidka"></span></div>
                        <h3>Товары в заказе</h3>
                        <ul id="order_korzina">
                            <li style='display: none' id='copy_element_li'>
                                <div class='row item_in_order'>
                                    <div class='col-md-6 block_name_item'>
                                        <div class='img_item item_in_mini_korz' data-item-category='' data-item-id=''>
                                            <img src='' width='64px'>
                                        </div>
                                        <div class='name_item description_el_order'><span class="name_item_el"></span><br><span class="size_item_el"></span></div>
                                    </div>
                                    <div class='col-md-2 description_el_order price_item_order'><span></span></div>
                                    <div class='col-md-1 block_number_item  description_el_order'>
                                        <form class='number_item'>
                                            <select class='form-control' style='width: auto !important;'></select>
                                        </form>
                                    </div>
                                    <div class='col-md-2 description_el_order'><span class='order_item_summa'></span></div>
                                    <div class='col-md-1 description_el_order'><span class='order_delete_item'>x</span></div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" id="next_step_payment">Оформить заказ</button>
                    </div>
                    <div id="korzina_blank">В корзину ничего не добавлено</div>
                    <div style="margin-top: 30px" id="payment_method" {% comment %}style="display: block"{% endcomment %}>
                        <h3 style="border-bottom: 1px solid #333; padding-bottom: 10px">Оформление заказа</h3>
                        <h4>Ваш заказ собирается. После <b>оплаты заказа</b> с вами свяжется специалист службы доставки.</h4>
                        <div style="padding: 10px 0 10px 10px; margin: 20px 0 20px 0" id="order_final_win">
                            <h4 style="color: #333">Ваш заказ:</h4>
                            <p id="order_final_items">Товары в заказе:<br>

                            </p>
                            <p id="order_final_summ">Сумма заказа: <span></span></p>
                            <p id="order_final_fio">Получатель: <span></span></p>
                            <p id="order_final_dil">Способ получения заказа: <span></span></p>
                            <p id="order_final_fon">Телефон: <span></span></p>
                        </div>
                        <button type="submit" class="btn btn-primary" id="order_ready">Оплатить</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 right_side_bar">
                <div style="margin-bottom: 30px;margin-top: 70px">
                    <h4>Преимущества интернет магазина Vittora</h4>
                    <div class="adv_elem">
                        <div class="icon_del_adv"></div>
                        <div class="title_adv">Бесплатная доставка по всей России</div>
                        <div class="descrip_adv">Мы доставляем товар бесплатно в любую точку России</div>
                    </div>
                    <div class="adv_elem">
                        <div class="icon_safe_adv"></div>
                        <div class="title_adv">Безопасность</div>
                        <div class="descrip_adv">Безопасность платежей гарантируется использованием SSL протокола.
                            Данные вашей банковской карты надежно защищены при оплате онлайн.
                        </div>
                    </div>
                    <div class="adv_elem">
                        <div class="icon_diver_adv"></div>
                        <div class="title_adv">Разнообразие ассортимента</div>
                        <div class="descrip_adv">В нашем интернет-магазине представлены товары на любой вкус</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}