{% extends 'main.html' %}
{% load filters %}
{% load staticfiles %}
{% block new_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'sumki_online/css/order.css' %}" />
{% endblock %}

{% block new_js %}
    <script type="text/javascript" src="{% static 'sumki_online/js/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-formhelpers-phone.js' %}"></script>
{% endblock %}

{% block main_block %}
    <div class="main_content col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-9 content_item">
                <div id="order_steps">
                        <ul>
                            <li class="active_step" id="order_elements">Cборка заказа</li>
                            <li id="delivery_order_btn">Способ и адрес доставки</li>
                            <li id="payment_method_btn">Способ оплаты</li>
                    </ul>
                </div>
                <div>
                    <div id="build_order">
                        <h3>Корзина</h3>
                        <ul id="order_korzina"></ul>
                        <div id="korzina_blank">На данный момент корзина пуста</div>
                    </div>
                    <div id="delivery_order">
                        <h3>Способ доставки:</h3>
                        <label class="radio-inline">
                            <input class="delivery_method" type="radio" name="export" id="independent_export" value="independent_export" checked> Самовывоз
                        </label>
                        <label class="radio-inline">
                            <input class="delivery_method" type="radio" name="export" id="delivery_export" value="delivery_export"> Доставка
                        </label>
                        <div style="margin-top: 20px">
                            <div id="independent_export_el">
                                <p>Вы можете забрать товар по адресу: г.Нижний Новгород, ул.Карла Маркса, д.20</p>
                                <p>Время работы: с 10-00 до 19-00 ежедневно</p>
                                <p>Кто заберёт товар:</p>
                            </div>
                            <div id="delivery_export_el">
                                <p>Мы доставляем товар транспортной компанией SPSR express в большинство населённых пунктов России</p>
                                <p>Срок доставки от 2 дня, в зависимости от региона получателя.</p>
                                <p>Введите данные получателя:</p>
                            </div>
                            <form role="form">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="form-group">
                                    {{ form.name.errors }}
                                    <label for="id_name">Имя</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    {{ form.surname.errors }}
                                    <label for="id_surname">Фамилия</label>
                                    {{ form.surname }}
                                </div>
                                <div class="form-group">
                                    {{ form.fon_number.errors }}
                                    <label for="id_fon_number">Телефон для связи</label>
                                    {{ form.fon_number }}
                                </div>
                                <div class="form-group hide_field">
                                    {{ form.city.errors }}
                                    <label for="id_city">Адресс доставки</label>
                                    {{ form.city }}
                                </div>
                                <div class="form-group hide_field">
                                    {{ form.adress.errors }}
                                    <label for="id_adress">Улица, дом, кв.</label>
                                    {{ form.adress }}
                                </div>
                                <button type="submit" class="btn btn-danger next_step_payment">Следующий шаг</button>
                            </form>
                        </div>
                    </div>
                    <div id="payment_method">
                        <h3>Оплатите Ваш заказ путём перечисления на карту:</h3>
                        <button type="submit" class="btn btn-danger" id="order_ready">Оплатить</button>
                    </div>
                    <div id="success_buy"> <span id="name_buyer"></span>, спасибо за покупку) Номер вашего заказа: №<span id="number_order"></span></div>
                </div>
            </div>
            <div class="col-md-3 right_side_bar">
                <div style="margin-bottom: 20px" id="summa_k_oplate_right">
                    <div style="font-weight: bold; font-size: 18px; color: #fff">Сумма к оплате</div>
                    <div id="summa_k_oplate">0 руб</div>
                    <div id="summa_k_oplate2">0 руб</div>
                    <div id="price_for_delivery">+300 руб. (доставка)</div>
                    <div id="summa_k_oplate_with_delivery">Итого <span>0 руб.</span></div>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" id="checkout">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}