<ul class="pagination">{% comment %}
    {% if items.has_previous %}
        <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.previous_page_number }}">&laquo;</a></li>
    {% endif %}{% endcomment %}
    {% for number_page in items.paginator.page_range %}
        {% if number_page == items.number %}
            <li class="active"><a href="#">{{ number_page }}</a></li>
        {% else %}
            <li><a href="{% url 'sumki_online:catalog' category.alias %}?page={{ number_page }}">{{ number_page }}</a></li>
        {% endif %}
    {% endfor %}
    {% comment %}{% if items.has_next %}
        <li><a href="{% url 'sumki_online:catalog' 'obuv' %}?page={{ items.next_page_number }}">&raquo;</a></li>
    {% endif %}{% endcomment %}
</ul>