.wrapper .body .main_offer{
    background: #aaa;
    text-align: center;
}
.wrapper .body .main_content{
    margin-top: -20px;
    min-height: 400px;
    background-color: #fff;
}
.wrapper .body .main_content .item{
    min-height: 250px;
    text-align: center;
}
.item a{
    display: block;
    text-decoration: none;
    color: inherit;
}
/*.item a:hover{
    text-decoration: none;
}*/
.wrapper .body .main_content .switcher_type_tovar{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px solid #b44444;
}
.item{
    width:25% !important;
}
/*.wrapper .body .main_content .switcher_type_tovar ul{
    display: inline-block;
}
.wrapper .body .main_content .switcher_type_tovar ul li{
    padding: 10px 40px;
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-right: -5px;
    font-weight: bold;
    background-color: #fff;
}*/
/*
.main_content #skidki_group{
    display: block;
}
.main_content #now_buy_group{
    display: none;
}
.main_content #new_offer_group{
    display: none;
}*/
